<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emansj.mpogo">

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--ACTIVITY-->
        <activity
            android:name=".activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ErrorRecoveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DrawerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.SplashActivity"/>
        <activity
            android:name=".activity.NotificationItemActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.NotificationActivity"/>
        <activity
            android:name=".activity.NotificationUpdateActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activity.RekeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.RekesikActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.UserRatingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.FisikActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ProfileEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>


        <!--SERVICE-->
        <service
            android:name=".service.FcmService"
            android:stopWithTask="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!--META-DATA-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>